*{
    margin: 0%;
}
.App{
    background-color: aquamarine;
    height: 100vh;
}
/* .inpu {
    width: '30vw';
    height:'10vh';
    text-align: center;
    background-color:'#F16A8A'; 
    color:'yellow';
     margin-left:'32vw';
      margin-top:'35vh';
       font-size:'2vw'   
} */

/* .para {
    font-size:'50px';
     text-align:'center';
} */
